<template>
  <section class="CreateGroupSection">
    <header>
      <h1>Opret børnegruppe</h1>
      <div class="idPerson">AA</div>
    </header>

    <section class="FirstStep">
      <label id="GroupName" for="GroupName">Navngiv gruppen:</label>
      <input type="text" id="GroupName">

      <div class="flex">
        <label>Vælg aldersgruppe:</label>
        <div>
          <label class="container">
            <input type="radio" class="bodytext" checked="checked" name="radio"> Aldersgruppe 1
            <span class="checkmark"></span>
          </label>
          <br>
          <label class="container">
            <input type="radio" class="bodytext" name="radio"> Aldersgruppe 2
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <label id="SelcetPedagogue" for="SelcetPedagogue">Vælg pædagog:</label>
      <input type="text" id="SelcetPedagogue" placeholder="Søg efter navn">
    </section>
    <grouping/>
  </section>
</template>

<script>
import Grouping from "./Grouping.vue";

export default {
  name: "CreateGroup",
  components: {
    Grouping
  }
};
</script>

<style scoped>
.CreateGroupSection {
  grid-column: 4 / span 7;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 1fr;
  margin-bottom: 130px;
}

@media screen and (min-width: 1280px) {
  .CreateGroupSection {
    grid-column: 3 / span 10;
    grid-row: 1 / span 6;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 70px 1fr;
  }
}

header {
  grid-column: 1 / span 10;
  grid-row: 1;
  z-index: 1;
  background: #ffffff;
  height: 97px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
  font-size: 34px;
  color: #ca9e28;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 30px;
}

header .idPerson {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #707070;
  font-size: 25px;
  color: #707070;
  font-weight: normal;
  text-align: center;
  line-height: 50px;
  margin: 20px 10px 10px 10px;
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 40px;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1280px) {
  header .idPerson {
    margin-right: 25px;
  }
}

.FirstStep {
  grid-column: 1 / span 2;
  padding: 5px 30px;
  grid-row: 2;
}

.FirstStep label {
  font-size: 20px;
  font-weight: bold;
  color: #777777;
  margin-right: 45px;
}

.FirstStep input[type="text"] {
  border: none;
  border-bottom: 0.5px solid #707070;
  background: none;
  padding-left: 15px;
  width: 200px;
  margin-top: 40px;
  padding-bottom: 10px;
}

.FirstStep input[id="GroupName"] {
  font-size: 20px;
  font-weight: normal;
  color: #777777;
}

.FirstStep input[id="SelcetPedagogue"],
.FirstStep label[class="container"] {
  font-size: 15px;
  font-weight: normal;
  color: #777777;
}

.flex {
  font-size: 15px;
  font-weight: normal;
  color: #777777;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.flex label {
  margin-right: 20px;
}

.flex div {
  margin-top: 5px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Hides the default radio button*/
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #ca9e28;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ca9e28;
}

/*Select Pedagogue*/
.FirstStep label[id="SelcetPedagogue"] {
  margin-right: 65px;
}
</style>