<template>
  <section class="SecondStep">
    <p class="label">Børn i gruppen:</p>
    <p id="guide">Drag 'n' drop børn fra listen til højre</p>
    <br>
    <div class="DropBoxHere">
      <label>1</label>
      <input id="DropHereIndput" placeholder="Indsæt her">
    </div>
    <div class="DropBoxHere">
      <label>2</label>
      <input id="DropHereIndput" placeholder="Indsæt her">
    </div>
    <div class="DropBoxHere">
      <label>3</label>
      <input id="DropHereIndput" placeholder="Indsæt her">
    </div>
    <div class="DropBoxHere">
      <label>4</label>
      <input id="DropHereIndput" placeholder="Indsæt her">
    </div>
    <div class="DropBoxHere">
      <label>5</label>
      <input id="DropHereIndput" placeholder="Indsæt her">
    </div>
    <div class="DropBoxHere">
      <label>6</label>
      <input id="DropHereIndput" placeholder="Indsæt her">
    </div>
    <div class="DropBoxHere">
      <i class="fas fa-plus-circle"></i>
    </div>
  </section>
</template>

<script>
export default {
  name: "Grouping"
};
</script>

<style scoped>
.SecondStep {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 10px 30px;
}

.label {
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}

#guide {
  font-size: 15px;
  font-weight: normal;
  color: #a2a4a7;
  margin-top: -10px;
}

.DropBoxHere {
  width: auto;
  height: 65px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 25px;
  border: 1px solid #f6f7f9;
}

.DropBoxHere label {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ca9e28;
  line-height: 60px;
  margin-right: 30px;
}

.DropBoxHere input {
  border: 0.5px solid #ca9e28;
  border-radius: 10px;
  height: 47px;
  width: 400px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #777777;
}
</style>