<template>
  <nav>
    <div class="link active">
      <a href="#">Børnegrupper</a>
    </div>
    <div class="link">
      <a href="#">Institution</a>
    </div>
    <div class="link">
      <a href="#">Adminstration</a>
    </div>
    <div class="link">
      <a href="#">Aktivitetslog</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavAdmin"
};
</script>

<style scoped>
nav {
  background: #777777;
  padding-top: 200px;
  grid-column: 1 / 4;
  grid-row: 1 / span 3;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 1280px) {
  nav {
    grid-column: 1 / 3;
    grid-row: 1 / span 6;
    width: 105%;
  }
}

nav .link {
  margin: 0 20px;
  padding: 20px 40px;
  height: 63px;
}

nav .active {
  background: #8d8d8d;
  border-radius: 5px;
}

nav .link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  margin: 10px auto;
}
</style>