<template>
  <section class="OverviewSection">
    <header>
      <h1>Overblik over Børnegrupper</h1>
      <div class="idPerson">AA</div>
    </header>

    <h2>Børnegrupper i Institution #1</h2>
    <router-link to="/creategroup" class="createGroup">
      <button>Opret ny gruppe</button>
    </router-link>

    <div id="flexGroups">
      <div class="selectGroup group1">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group2">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group3">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group4">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group5">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group6">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group7">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group8">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
      <div class="selectGroup group9">
        <h3>Navn på børnegruppe</h3>
        <p>Aldersgruppe</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "OverviewGroups"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.OverviewSection {
  grid-column: 4 / span 7;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 70px 70px 1fr;
  margin-bottom: 130px;
}

@media screen and (min-width: 1280px) {
  .OverviewSection {
    grid-column: 3 / span 10;
    grid-row: 1 / span 6;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 70px 1fr;
  }
}

header {
  grid-column: 1 / span 10;
  grid-row: 1;
  z-index: 1;
  background: #ffffff;
  height: 97px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
  font-size: 34px;
  color: #ca9e28;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 30px;
}

header .idPerson {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #707070;
  font-size: 25px;
  color: #707070;
  font-weight: normal;
  text-align: center;
  line-height: 50px;
  margin: 20px 10px 10px 10px;
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 40px;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1280px) {
  header .idPerson {
    margin-right: 25px;
  }
}

h2 {
  font-size: 24px;
  color: #777777;
  font-weight: bold;
  grid-column: 1 / span 2;
  margin: 10px 0 0 4%;
  grid-row: 2;
  width: auto;
}

@media screen and (min-width: 1280px) {
  h2 {
    grid-column: 1 / span 4;
  }
}

.createGroup {
  margin-left: 8%;
  grid-row: 3;
}

.createGroup button {
  width: 197px;
  height: 54px;
  background: #ca9e28;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  h2 {
    font-size: 30px;
    margin-left: 10%;
  }
  .createGroup {
    margin-left: 19%;
  }
}

@media screen and (min-width: 1190px) {
  h2 {
    margin-left: 12%;
  }
  .createGroup {
    margin-left: 23%;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    margin-top: 15px;
  }
  .createGroup {
    grid-column: 5;
    grid-row: 2;
    margin-top: 15px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1900px) {
  .createGroup {
    margin-right: 120px;
  }
}

#flexGroups {
  grid-column: 1 / span 2;
  grid-row: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.selectGroup {
  background: #ffffff;
  width: 250px;
  height: 139px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 25px 0;
  margin: 10px auto;
}

.selectGroup h3 {
  font-size: 15px;
  color: #777777;
  font-weight: bold;
  text-align: center;
}

.selectGroup p {
  font-size: 15px;
  color: #777777;
  font-weight: normal;
  text-align: center;
}

@media screen and (min-width: 900px) {
  #flexGroups {
    margin: 10px 5%;
  }
}

@media screen and (min-width: 1280px) {
  #flexGroups {
    grid-column: 1 / span 5;
    grid-row: 3;
    margin: 20px 40px 100px 80px;
  }

  .selectGroup {
    height: 189px;
    width: 301px;
    padding: 50px;
  }
}

@media screen and (min-width: 1600px) {
  .selectGroup {
    margin: 10px 10px;
  }
}

@media screen and (min-width: 1800px) {
  #flexGroups {
    margin-left: 8%;
  }
  .selectGroup {
    margin: 20px 20px;
  }
}
</style>
