<template>
<body>
  <nav-admin/>
  <create-group/>
</body>
</template>

<script>
import NavAdmin from "./components/NavAdmin";
import OverviewGroups from "./components/OverviewGroups.vue";
import CreateGroup from "./components/CreateGroup.vue";

import "animate.css";

export default {
  name: "Admin",
  components: {
    OverviewGroups,
    CreateGroup,
    NavAdmin
  }
};
</script>

<style>
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f6f7f9;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column: 1 / span 10;
  grid-row: 1 / span 3;
}

@media screen and (min-width: 1280px) {
  body {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-column: 1 / span 12;
    grid-row: 1 / span 6;
  }
}
</style>

